.contacts-page-container {
    background-position: 50% 0%;
    background-image: url(../../../../src/assets/images/contacts-page.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(100vh - 60px);
}
